A:link {
	COLOR: #996633; TEXT-DECORATION: none
}
A:visited {
	COLOR: #996633; TEXT-DECORATION: none
}
A:active {
	COLOR: #996633; TEXT-DECORATION: none
}
A:hover {
	COLOR: #336633; TEXT-DECORATION: underline
}
BODY {
	MARGIN-LEFT: 5%; MARGIN-RIGHT: 5%; FONT-FAMILY: arial, Verdana, sans-serif; BACKGROUND-COLOR: #fdf5e6
}
TABLE {
	WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
TD {
	VERTICAL-ALIGN: middle
}
PRE {
	FONT-FAMILY: monospace
}
H1 {
	COLOR: #336633; FONT-FAMILY: arial, verdana, sans-serif
}
H2 {
	COLOR: #336633; FONT-FAMILY: arial, verdana, sans-serif
}
H3 {
	COLOR: #336633; FONT-FAMILY: arial, verdana, sans-serif
}
H4 {
	COLOR: #336633; FONT-FAMILY: arial, verdana, sans-serif
}
H5 {
	COLOR: #336633; FONT-FAMILY: arial, verdana, sans-serif
}
.code_style {
	
}
.smtxt {
	FONT: 80% arial,helvetica,sans-serif
}
.xsmtxt {
	FONT: 70% arial,helvetica,sans-serif
}
.grn {
	COLOR: #336633
}
.grnb {
	FONT-WEIGHT: bold; COLOR: #336633
}
.wht {
	COLOR: #ffffff
}
.hrb {
	COLOR: #996633
}
.hrg {
	COLOR: #336633
}
.in {
	MARGIN-LEFT: 40px
}
